nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
}

ul {
  display: flex;
  width: 15%;
  justify-content: space-between;
}

li {
  list-style-type: none;
}